/*edtsoi*/
.search{
  height: 30px;
  width: 350px;
  overflow: hidden;
}



body{
    height: 480px;
    width: 350px;
    border:0;
    overflow: hidden;
}

.input-group{
  border: 8px solid #f6f6f6;
}

#input-search{
    padding: 12px;
    width: 70%;
    overflow: hidden;
}

#tabs_results {
    /* Remove default list styling */
    list-style-type: none;
    left: -4px; /* move content -4px because of container left border */
    width: 350px;
    height: 380px;
    padding: 5px 0px;
    border: 4px solid #f6f6f6;
    border-left: 4px solid #8e9196;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    overflow: scroll;
    overflow-x: hidden;
}


#tabs_results li :hover:not(.header){
  /*background-color: #eee; /* Add a hover effect to all links, except for headers */
  color: #6fa0e9 !important;
  background: #e7f0f7 !important;
}

#tabs_results li a{
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  padding: 9px; /* Add some padding */
  font-size: 16px; /* Increase the font-size */
  display: block; /* Make it into a block element to fill the whole list */
  background-color: #f6f6f6; /* Grey background color */
}


#mergeAll{
  position: relative;
  left: 27px;
  top: 11px;
  font-size: 75%;
  width: 110px;
  height: 35px;
}

#new-window{
  position: relative;
  left: 90px;
  top: 12px;
  font-size: 75%;
  width: 100px;
  height: 35px;
}

.nav-icon{
  content: url('images/Icon-128.png');
  height: 20px;
  width: 20px;
  display: block;
}

/*droppable box*/
#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
/*
 *  scrollbar style: blue
 */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #0ae;

    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                       color-stop(.5, rgba(255, 255, 255, .2)),
                       color-stop(.5, transparent), to(transparent));
}
