/*edtsoi*/
.search{
  height: 30px;
  width: 350px;
  overflow: hidden;
}

.close{
    z-index: 100000;
    width: 18px;
}

body{
    height: 100%;
    width: 350px;
    border:0;
    /* overflow: scroll; */
    top:100%;
    bottom:0;
    left:0;
    right:0;
}

.input-group{
  border: 8px solid #f6f6f6;
}

.favicon{
    margin-top: 10px;
    margin-right: 3px;
}

.window{
    margin-top: 15px;
    background-color: rgba(118, 128, 250, 0.69);
    font-family: 'Kreon', serif;
    font-size: 18px;
    text-indent: 120px;
    color: white;
}

#input-search{
    padding: 8px;
    width: 70%;
    overflow: hidden;
}

#button-container{
    background-color : white;
    z-index: 5;
    position: sticky;
    left: 0;
    bottom: 0;
    height: 44px;
    width: 100%;
}

#tabs_results {
    z-index: -100;
    list-style-type: none;
    left: -4px;
    width: 100%;
    /*width: 330px;*/
    padding: 5px 0px;
    border: 4px solid #f6f6f6;
    border-left: 4px solid #8e9196;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    overflow: scroll;
    overflow-x: hidden;
}

#web-url{
  top: 0px;
}

#web-name{
  margin-bottom: 0px;
}

#tabs_results li :hover:not(.header){
  /*background-color: #eee; /* Add a hover effect to all links, except for headers */
  color: #6fa0e9 !important;
  background: #e7f0f7 !important;
}

#tabs_results li a{
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px;

  font-size: 16px; /* Increase the font-size */
  display: block; /* Make it into a block element to fill the whole list */
  background-color: #f6f6f6; /* Grey background color */
}


#mergeAll{
  background: rgba(118, 128, 250, 0.92);
  border-radius: 100px;
  position: absolute; 
  left: 30px;
  bottom: 8px; 
  padding: 0;
  font-size: 58%;
  width: 90px;
  height: 28px;
}


#merge-selected{
  background: rgba(118, 128, 250, 0.92);
  border-radius: 100px;
  position: absolute; 
  left: 180px;
  bottom: 8px; 
  padding: 0;
  font-size: 60%;
  width: 130px;
  height: 28px;

}

.nav-icon{
  content: url('images/Icon-128.png');
  height: 20px;
  width: 20px;
  display: block;
}

.input-group-prepend{
  background-color: white;
}

/*droppable box*/
#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
/*
 *  scrollbar style: blue
 */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #0ae;

    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                       color-stop(.5, rgba(255, 255, 255, .2)),
                       color-stop(.5, transparent), to(transparent));
}
